@media (max-width: 500px) {

    /* mobile */
    #startBtn {
        padding: 50px 0;
    }

    #endBtn {
        padding: 50px 0;
    }

    .hours,
    .weighted,
    .month {
        display: none;
    }
}

@media (min-width: 501px) {

    /* landscape */
    #startBtn {
        padding-bottom: 6.75px;
        padding-left: 13.5px;
        padding-right: 13.5px;
        padding-top: 6.75px
    }

    #endBtn {
        padding-bottom: 6.75px;
        padding-left: 13.5px;
        padding-right: 13.5px;
        padding-top: 6.75px
    }

    .hours,
    .weighted,
    .month {
        display: table-cell;
    }
}

.custom-navbar {
    background-color: #F5A9B8;
}

.navbar-brand {
    color: white !important;
    font-weight: 600;
}

.btn-primary {
    background-color: #F5A9B8;
    border-color: #FAD4DC;
}

.btn-primary:hover {
    background-color: #e98ea3;
    border-color: #e98ea3;
}

.landing-icon {
    font-size: 4rem;
    color: #5BCEFA;
}