.landing-card {
    transition: all .2s ease-in-out;
    cursor: pointer;
}

.landing-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 0.75rem 1.5rem rgba(0, 0, 0, .15);
}

.custom-navbar {
    background-color: #f5a9b880;
}

.btn-primary {
    background-color: #F490A480;
    border-color: #F490A410;
}

.btn-primary:hover {
    background-color: #F2A9B880;
    border-color: #F2A9B810;
}

.landing-icon {
    font-size: 4rem;
    color: #5BCEFA80;
}

#time{
    font-family: rockwell;
    font-weight: bold;
}